blinker==1.6.2
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
contourpy==1.0.7
cycler==0.11.0
dateparser==1.1.8
Flask==2.3.2
fonttools==4.39.4
google-auth==2.19.1
httmock==1.4.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.4
kubernetes==26.1.0
MarkupSafe==2.1.3
matplotlib==3.7.1
numpy==1.24.3
oauthlib==3.2.2
packaging==23.1
pandas==2.0.2
Pillow==9.5.0
prometheus-api-client==0.5.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
tzdata==2023.3
tzlocal==5.0.1
urllib3==1.26.16
websocket-client==1.5.2
Werkzeug==2.3.5
ipykernel
seaborn
redis